<?php
$dbhost="localhost";
$dbuser="pdns-user";
$dbpass="your-password";
$dbname="pdns-db";
$ns1="ns01.somedomain.tld"; 
$ns2="ns02.somedomain.tld"; 
$serverip="192.168.0.1";

mysqli_connect($dbhost, $dbuser, $dbpass, $dbname) or die(mysql_error());
?>
